//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 16 09:37:29 2015
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "U9" LEVEL 1;
COMP "RST" LOCATE = SITE "U10" LEVEL 1;
COMP "Fout<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "Fout<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "Fout<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "Fout<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "Fout<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "Fout<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "Fout<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "Fout<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "Fout<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "Fout<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "T7" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "V3" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "V2" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "U1" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "SW<8>" LOCATE = SITE "R1" LEVEL 1;
COMP "SW<9>" LOCATE = SITE "N2" LEVEL 1;
COMP "Fout<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "Fout<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "Fout<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "Fout<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "Fout<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "Fout<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "flag<0>" LOCATE = SITE "F9" LEVEL 1;
COMP "flag<1>" LOCATE = SITE "E9" LEVEL 1;
COMP "flag<2>" LOCATE = SITE "D9" LEVEL 1;
COMP "flag<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "SW<10>" LOCATE = SITE "N1" LEVEL 1;
COMP "SW<11>" LOCATE = SITE "M1" LEVEL 1;
COMP "SW<12>" LOCATE = SITE "K7" LEVEL 1;
COMP "SW<13>" LOCATE = SITE "K2" LEVEL 1;
COMP "SW<14>" LOCATE = SITE "J7" LEVEL 1;
COMP "SW<15>" LOCATE = SITE "J6" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

